{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ country }}",
      "L": "{{ location }}",
      "O": "{{ organization }}",
      "OU": "{{ organizational_unit }}",
      "ST": "{{ state }}"
    }
  ]
}